<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<div th:fragment="foot">
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left">Site built by this <a href="https://baselogic.com" target="_blank">BASE Logic, inc.</a>&nbsp;|&nbsp;</p>

            <a class="navar-btn btn-danger btn pull-right" target="_blank" href="https://www.youtube.com/c/BASELogic">Subscribe on Youtube</a>
        </div>
    </footer>
</div>

</body>
</html>
