<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title id="pageTitle">myCalendar - Access Denied</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="alert alert-danger">
        <h1>403 Access Denied</h1>
        <p>You are not allowed to access this page. Try <a id="loginLink" th:href="@{/login}">logging in</a> as admin1@example.com / admin1</p>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
