<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">My Sessions</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <p>This shows all the sessions for a user.</p>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Last Used</th>
            <th>Session ID</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${sessions.empty}">
            <td colspan="3" class="msg">No sessions available. This may happen before the SessionRegistry is wired properly
                or when user's sessions are restored across container restarts. Read the Chapter text for details.</td>
        </tr>
        <tr th:each="session : ${sessions}">

            <td th:text="${#calendars.format(session.lastRequest, 'yyyy-MM-dd HH:mm')}">lastUsed</td>
            <td th:text="${session.sessionId}"></td>

            <td>
                <form action="#" th:action="@{'/user/sessions/{id}'(id=${session.sessionId})}"
                      th:method="delete" cssClass="form-horizontal">
                    <input type="submit" value="Delete" class="btn"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>
