<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div class="container">

    <div th:fragment="messages">
        <!-- Standard messages -->
        <!--<div th:class="${#vars['error'] != null} ? 'alert alert-danger' : 'alert alert-success'">-->
        <div th:if="${#vars['message'] != null}" th:unless="${#vars['error'] != null}" class="alert alert-success">
            <span th:text="${#vars['message']}"></span>
        </div>
        <div th:if="${#vars['error'] != null}" class="alert alert-danger">
            <span th:text="${#vars['error']}"></span>
        </div>

    </div>
</div>

</body>
</html>
