<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="pageTitle">myCalendar - Please Login</title>
</head>
<body>

    <h3> P.I.D. Login </h3>
    <p th:if="${param.error}">
        Bad Credentials: ${param.error}
    </p>

    <form th:action="@{/j_spring_security_check}" method="POST">
        User Name : <input type="text" name="j_username"/> <br/><br/>
        Password: <input type="password" name="j_password"/> <br/><br/>
        <input type="submit" value="Login"/>
    </form>

</body>
</html>
